# .env.example
MYSQL_URL=mysql://root:root@127.0.0.1:3306/cf_knex_test
MARIADB_URL=mysql://root:root@127.0.0.1:3307/cf_knex_test
POSTGRES_URL=postgres://postgres:postgres@127.0.0.1:5432/cf_knex_test
LIBSQL_URL=http://127.0.0.1:8080
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE_MYSQL=mysql://root:root@127.0.0.1:3306/cf_knex_test
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE_PG=postgres://postgres:postgres@127.0.0.1:5432/cf_knex_test
